.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.d-none {
  display: none;
}

@media screen and (min-width: 640px) {
  .sm-100 {
    width: 100%;
  }
  .sm-50 {
    width: 50%;
  }
  .sm-33 {
    width: 33.333%;
  }
  .sm-25 {
    width: 25%;
  }

  .sm-d-block {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .md-100 {
    width: 100%;
  }

  .md-75 {
    width: 75%;
  }

  .md-50 {
    width: 50%;
  }
  .md-33 {
    width: 33.333%;
  }
  .md-25 {
    width: 25%;
  }

  .md-d-block {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .lg-100 {
    width: 100%;
  }
  .lg-75 {
    width: 75%;
  }
  .lg-66 {
    width: 66.666%;
  }
  .lg-50 {
    width: 50%;
  }
  .lg-33 {
    width: 33.333%;
  }
  .lg-25 {
    width: 25%;
  }

  .lg-d-block {
    display: block;
  }

  .hero-page .hero-img.lg-50 {
    width: 45%;
    margin: 100px 0;
    transform: rotate(3deg);
  }
}


@media screen and (min-width: 1280px) {
  .xl-100 {
    width: 100%;
  }
  .xl-50 {
    width: 50%;
  }
  .xl-33 {
    width: 33.333%;
  }
  .xl-25 {
    width: 25%;
  }

  .xl-d-block {
    display: block;
  }

  
}
